<!-- Card EJS -->
    <div class="container">
        <div class="card">
            <div class="slide slide1">
                <div class="content">
                    <div class="icon">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <h4 class="card-time">15 min ago</h4>
                    </div>
                </div>
            </div>
            <div class="slide slide2">
                <div class="content">
                    <h3 class="project-title">
                        Project Title
                    </h3>
                    <p>Project Description</p>
                    <br>
                    <br>
                    <div>
                        &nbsp;&nbsp;&nbsp;
                        <button class="button-dec">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <p class="like" id="like" style="color: white;">0</p>
                        </button>
                        &nbsp;&nbsp;
                        <button class="button-dec">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <p class="comment" style="color: white;">3</p>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    