<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/CP.css">

    <!-- favicon -->
    <link rel="icon" href="favicon2.ico">

    <!-- bootstrap -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
     -->
     
    <!-- google font -->
    <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">

    <!-- font awesome icons -->
    <script src="https://kit.fontawesome.com/7296bf4925.js" crossorigin="anonymous"></script>

    <!-- bulma -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"> -->

    <title>BitDev</title>
</head>
<body>
    <section id="navbar">
        <%- include('partials/navbar')%>
    </section>
    <section id="stats">
            <div class="row">
                <div class="col-lg-6 col-md-12 stats">
                   <h1 class="heading">CP Stats</h1> 
                    <div class="cf">
                        <img class ="logo_pic" src="/image/cf.jpg" alt="codeforces">
                        <p>
                            <h2>Codeforces</h2>
                            <h3 class="resFix">Handle  <span id="cfhandle"><%= curuser.cfhandle %></span></h3>
                            <h3 class="resFix">Current rating   <span id="cfrating"></span> </h3>
                            <h3 class="resFix">Current rank - <span id="cfcrank"></span></h3>
                            <h3 class="resFix">Max rating - <span id="cfmrating"></span></h3>
                        </p>
                    </div>
                    <img class ="logo_pic" src="/image/cc.png" alt="codechef">
                    <p>
                        <h2>Codechef</h2>
                        <h3 class="resFix">Handle   <span id="cchandle"><%= curuser.cchandle %></span></h3>
                        <h3 class="resFix">Current rating - <span id="ccrating"></span></h3>
                        <h3 class="resFix">Current rank - <span id="cccrank"></span></h3>
                        <h3 class="resFix">Max rating - <span id="ccmrating"></span></h3>
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 left-border">
                    <div class="bottom-border">
                        <h1 class="heading2">Upcoming Contests</h1>
                        <a href="" id="ac1" target="_blank"><h3 id="c1">Contest 1</h3></a>
                        <h4 id="Time1" class="time">Time 1</h4>
                        <a href="" id="ac2" target="_blank"><h3 id="c2">Contest 2</h3></a>
                        <h4 id="Time2" class="time">Time 2</h4>
                        <a href="" id="ac3" target="_blank"><h3 id="c3">Contest 3</h3></a>
                        <h4 id="Time3" class="time">Time 3</h4>
                    </div>
                    <h1 class="heading3">Recommended Problems</h1>
                    <a href="" id="ap1" target="_blank"><h3 id="p1">Problem 1</h3></a>
                    <a href="" id="ap2" target="_blank"><h3 id="p2">Problem 2</h3></a>
                    <a href="" id="ap3" target="_blank"><h3 id="p3">Problem 3</h3></a>
                </div>
            </div>
    </section>
    <section id="footer">
        <%- include('partials/footer')%>
    </section>
    <script src="/js/CP.js" charset="utf-8"></script>
</body>
</html>