<!DOCTYPE html>
<!-- saved from url=(0082)file:///C:/Users/amana/OneDrive/Desktop/veryfirstpage/Pages%20-%20Front%20End.html -->
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <title>BitDev</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- BEGIN PLUGINS -->
  <link href="/css/pace-theme-flash.css" rel="stylesheet" type="text/css">
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="/css/swiper.css" rel="stylesheet" type="text/css" media="screen">
  <!-- END PLUGINS -->
  <!-- BEGIN PAGES CSS -->
  <link class="main-stylesheet" href="/css/pages.css" rel="stylesheet" type="text/css">
  <link href="/css/pages-icons.css" rel="stylesheet" type="text/css">
  <!-- BEGIN PAGES CSS -->
  <script src="/js/frontPage.js" async=""></script>
</head>

<body class="pace-primary  windows desktop pace-done" data-new-gr-c-s-check-loaded="14.1040.0" data-gr-ext-installed="">
  <div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
      <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
  </div>
  <!-- BEGIN HEADER -->
  <div class="top-left z-index-1 padding-30">
    <img src="/image/Picture1.png" width="350" height="175" data-src-retina="assets/image/logo_2x.png" alt="">
  </div>
  <div class="top-right z-index-1 padding-40">
    <form>
      <button type="button" class="btn btn-success btn-rounded pull-right mx-auto">signup </button>
      <button class="btn text-success btn-rounded hover-shadow ripple shadow-lg "
        style="position: relative; right: 10px;">Login </button>
    </form>
  </div>
  <!-- END HEADER -->
  <!-- BEGIN JUMBOTRON -->
  <section class="jumbotron full-height relative" data-pages-bg-image="/image/background.jpg" data-bg-overlay="black"
    data-overlay-opacity="0.4" style="background-image: url(&quot;/image/background.jpg&quot;);">
    <div class="container-xs-height full-height">
      <div class="col-xs-height col-middle text-left">
        <!-- BEGIN CONTENT -->
        <div class="content-layer">
          <div class="inner full-height">
            <div class="container-xs-height full-height">
              <div class="col-xs-height col-middle text-center">
                <div class="container">
                  <div style="top: 180px;position: relative;">
                    <div class="col-md-6 col-md-offset-3">
                      <h1 class="light text-white m-t-5 demo_relative_heading sm-no-padding hidden-xs"
                        data-swiper-parallax="-15%">
                        <span class="font-montserrat">BitDev</span><br>
                        tagline here
                      </h1>
                      <h2 class="light text-white m-t-5 demo_relative_heading sm-no-padding visible-xs"
                        data-swiper-parallax="-15%">
                        <span class="font-montserrat ">BitDev</span><br>
                        tagline here
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END CONTENT -->
      </div>
    </div>
    <div class="bg-overlay" style="background-color: rgb(255, 255, 255); opacity: 0.4;"></div>
  </section>
  <!-- END JUMBOTRON -->
  <!-- START CONTENT SECTION -->
  <section class="p-b-85 p-t-75 p-b-65 p-t-55 text-center">
    <div class="container">
      <div class="md-p-l-20 xs-no-padding clearfix">
        <div class="col-sm-4 no-padding">
          <div class="p-r-40 md-pr-30 xs-no-padding clearfix">
            <img alt="" class="m-b-20" width="200" height="100" src="/image/uploadlogo.png">
            <h6 class="block-title p-b-5">Launch Design <i class="pg-arrow_right"></i></h6>
            <p class="m-b-30">awesome project for sharing website to showoff your coding skills and get to know about
              current project trends</p>
            <!-- <p class="muted font-arial small-text no-padding col-xs-6 col-xs-offset-3">Icon Fonts, Vector SVG's, pages
              14x14px vector icons.</p> -->
          </div>
          <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
        </div>
        <div class="col-sm-4 no-padding">
          <div class="p-r-40 md-pr-30 xs-no-padding clearfix">
            <img alt="" class="m-b-20" width="200" height="100" src="/image/teamlogofinal.jpg">
            <h6 class="block-title p-b-5">easy interaction<i class="pg-arrow_right"></i></h6>
            <p class="m-b-30">add your college mates in your friend lists and interact with them easily</p>
            <!-- <p class="muted font-arial small-text no-padding col-xs-6 col-xs-offset-3">Limitless possibilities, Highly
              customizable, Great UI &amp; UX</p> -->
          </div>
          <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
        </div>
        <div class="col-sm-4 no-padding">
          <div class="p-r-40 md-pr-30 xs-no-padding clearfix">
            <img alt="" class="m-b-20" width="200" height="100" src="/image/codeforces logo.png">
            <h6 class="block-title p-b-5">competitive programming<i class="pg-arrow_right"></i></h6>
            <p class="m-b-30">competitive programming made easier with better interactions and uptodate competition
              updates</p>
            <!-- <p class="muted font-arial small-text no-padding col-xs-6 col-xs-offset-3">Highly customizable NVD3,
              rickshaw, Spark Lines, D3.</p> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END CONTENT SECTION -->
  <!-- START FOOTER -->
  <%- include('partials/footer')%>
    <!-- END FOOTER -->

</body>

</html>