<!-- PROFILE EDIT PAGE----BITDEV -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Edit Page</title>
    <!-- CSS LINKS -->
    <link rel="stylesheet" href="/public/css/registration.css">
    <!-- External links -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
</head>

<body>
    <!-- multistep form -->
    <form id="msform" method="post">

        <!-- fieldsets -->

        <!--  Card -->
        <fieldset>
            <h2 class="fs-title"> Edit Personal Details</h2>
            <h3 class="fs-subtitle">Anything you want to change</h3>
            <input type="text" name="firstname" placeholder="First Name" />
            <input type="text" name="lastname" placeholder="Last Name" />
            <input type="email" name="email" placeholder="Email" />
            <input type="text" name="codeforces" placeholder="Codeforces Handle" />
            <input type="text" name="codechef" placeholder="Codechef Handle" />
            <textarea name="description" placeholder="Your bio"></textarea>

            <button class="action-button">Submit</button>
        </fieldset>
        <!-- End of Card -->
    </form>
    <!-- Javascript Link -->
    <script src="/public/js/registration.js"></script>
</body>

</html>